 {{ if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
Aptgetfile
{{ end -}}

{{ if ne .chezmoi.os "darwin" -}}
.chezmoiscripts/darwin/**
{{ end -}}

{{ if ne .chezmoi.os "windows" -}}
.chezmoiscripts/windows/**
Microsoft.PowerShell_profile.ps1
WindowsTerminal_Profile.json
{{ else -}}
.config/tmuxinator/**
.zshrc
.tmux.conf
{{ end -}}
