{{ $email := promptStringOnce . "email" "What is your email address" -}}
{{ $name := promptStringOnce . "name" "What is your name or nickname" -}}

data:
  email: {{ $email }}
  name: {{ $name }}

{{ if eq .chezmoi.os "windows" -}}
cd:
  command: pwsh
{{ end -}}

edit:
  command: hx
