{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if [[ ! -d $HOME/.local/bin ]]; then
	mkdir -p $HOME/.local/bin
fi

# if ! command -v hx 2>/dev/null; then
# {{- if eq .chezmoi.arch "arm64" }}
# 	url="https://github.com/helix-editor/helix/releases/download/25.01/helix-25.01-aarch64-linux.tar.xz"
# 	filename=$(basename "$url")
# 	if contains "aarch64" (output "lsctl"); then
# 		wget "$url"
# 	fi
# {{-  end }}
# 	tar -xvf "$filename"
# 	cd "$filename"
# 	cp hx ~/.local
# 	cd -
# 	rm -rf "$filename"
# fi

sudo apt update

sudo apt install -y \
	fzf \
	fd-find \
	tmuxinator \
	burpsuite \
	java-wrappers \
	openjdk-23-jre

{{ end -}}
